/*  

R E F E R E N C E
>>>>>>>>>>>>>>>>>>>>>>

V0 - Variables
N1 - Navigation
T2 - Typography
F3 - Forms
E4 - Extras
V5 - Video
Q6 - Queries

Nano Green: #00a651
Nano Muted Green: #3da36f
Rustic Wood: #594b42
Chocolate: #413934
Royal Gold: #ffc655
Ash Gray: #c2bcb0
Tealirific: #61d6c4

font-family: 'Lato', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Archivo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;

>>>>>>>>>>>>>>>>>>>>>>
*/
/* Header CSS */
/* HexCodes
    Vivids:
     Mint: #CAFFD0
     Pastel Blue: #C9E4E7
     Lavender: #B4A0E5
     Magenta: #CA3CFF
     Black: #1E1014
    Muted
     Green: #B5C2B7
     Blue: #8C93A8
     Purple: #62466B
     Dark Purple: #45364B 
     Black: #2D2327  */

/*      V0    
>>>>>>>>>>>>>>>>>>

V A R I A B L E S

<<<<<<<<<<<<<<<<<<
*/

/* Universal Switch */
/*
* {
  border: 1px #000 solid;
}
*/

/* this is a change made by Rook */
/* hi friend */

.main-titles {
	color: #45364b;
}

:root {
	--logo-letter-spacing: 2px;
	--logo-font-family: "Exo", sans-serif;
	--logo-font-family-2: "Exo", sans-serif, "Exo", sans-serif;
	--logo-font-weight: 600;
	--logo-font-weight-2: 300;
	--main-title-1: "Exo", sans-serif;
	--body-text-1: "Exo", sans-serif;
}

.hyperlink-color {
	color: #b5c2b7;
}

.search {
	align-items: center;
}

/*      T2    
>>>>>>>>>>>>>>>>>>

T Y P O G R A P H Y

<<<<<<<<<<<<<<<<<<
*/

/* >>>>>>>>>>

Text Styles

>>>>>>>>>> */

.main-titles {
	font-family: "Exo", sans-serif;
	font-optical-sizing: auto;
	font-weight: auto;
	font-style: normal;
}

span.main-caption {
	display: flex;
	height: 25px;
	width: 100%;
}

h5.main-caption-text {
	font-family: "Exo", sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 25px auto 25px auto;
}

.horizontal-rule-custom {
	padding: 15px;
}

/*
.blogroll-author {
    font-weight: bold;
}
*/

span.login-cart-row h6 {
	display: block;
}

.contact-float-right {
	float: right;
	margin-right: 15px;
}

.contact-float-left {
	float: left;
	margin-right: 15px;
}

.text-indent {
	min-width: 300px;
	max-width: 45%;
	margin: 0px auto 0px auto;
}

h2.text-center {
	font-size: 32px;
}

/* >>>>>>>>>>>>

Logos / Images

>>>>>>>>>>>> */

.header-bar div {
	height: 80px;
	margin: 10px auto 0px auto !important;
	/* border: 1px solid #CC0000; */
}

.main-logo {
	font-size: 48px;
	font-weight: var(--logo-font-weight);
	letter-spacing: var(--logo-letter-spacing);
	font-family: var(--logo-font-family-2);
	font-weight: var(--logo-font-weight);
}

.main-logo-small {
	font-size: 30px;
	padding: 0px;
	margin-top: -5px;
	font-weight: var(--logo-font-weight);
	letter-spacing: var(--logo-letter-spacing);
	font-family: var(--logo-font-family-2);
	font-weight: var(--logo-font-weight);
}

img.main-image {
	width: 100%;
	margin: 10px 0px 20px 0px;
}

.thumbnail-margin {
	margin: 50px auto 25px auto;
}

/*      N1    
>>>>>>>>>>>>>>>>>>

      N A V

<<<<<<<<<<<<<<<<<<
*/

/* >>>>>>>>>>

Main Nav

>>>>>>>>>> */

.nav-background {
	background-color: #62466b;
}

.nav-border {
	border-bottom-style: solid;
	border-bottom-width: 10px;
	border-bottom-color: #2d2327;
	color: #2d2327;
}

nav.top-bar {
	display: flex;
}

.top-bar {
	margin-bottom: 0px;
}

nav.top-bar ul {
	margin: 0px auto 0px auto;
}

.top-bar,
.title-bar,
.title-bar-title,
ul.top-bar-links,
li.top-bar-main-link,
li.main-link {
	background-color: #45364b;
}

a.main-link {
	margin-top: 2px;
}

/* Mobile Menu Button */
.title-bar-title {
	margin-top: -9px;
	margin-left: 15px;
	height: 15px;
}

span.title-bar-title {
	font-family: "Exo", sans-serif;
	font-size: 16px;
	font-weight: 600;
	background-color: none;
}

li.top-bar-main-link a {
	color: white !important;
}


ul.top-bar-links li.top-bar-main-link a.main-link {
	text-align: center;
	min-width: 165px;
	max-width: 90%;
	text-transform: uppercase;
	letter-spacing: 2px;
}

a.main-link,
ul.submenu li a {
	font-family: "Exo", sans-serif;
	font-size: 14px;
	font-weight: 600;
}

ul.submenu li a {
	text-align: left;
	background-color: #2d2327;
}

ul.submenu li a:hover {
	background-color: black;
	color: white !important;
}
/* u put it back :D*/
ul.submenu-color,
ul.submenu-color li {
	line-height: 1;
	text-decoration: none;
	display: block;
	padding: 0.7rem 1rem;
	background-color: #000;
	color: #000 !important;
	text-align: left;
}

/* Arrow Color */
.top-bar .is-dropdown-submenu-parent > a:after {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
}

/* Preventing Flash of Unstyled Content (FOUC) */
.no-js .top-bar {
	display: none;
}

@media screen and (min-width: 40em) {
	.no-js .top-bar {
		display: block;
	}

	.no-js .title-bar {
		display: none;
	}
}

/* >>>>>>>>>>>>

Social Footer

>>>>>>>>>>>> */

.social-footer {
	padding: 1rem;
	background: #45364b;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 150px;
}

.social-footer .social-footer-icons li:last-of-type {
	margin-right: 20px;
}

.social-footer-icons li {
	padding-left: 15px;
}

.social-footer .social-footer-icons i.fa {
	height: 40px;
	width: 40px;
	margin: 0px;
	padding: 0px;
}

.social-footer .social-footer-icons .fa:hover {
	color: #000; /* #4a4a4a */
	transition: color 0.3s ease-in;
}

.social-footer-icons ul li a i.fa {
	font-size: 30px; /* 1.3rem */
	color: #2d2327;
}

/* 
Image Container for Row
https://get.foundation/building-blocks/blocks/wide-article-link.html
*/

.wide-article-link {
	background-color: #fefefe;
	padding: 1rem 1rem 0.5rem;
	border: 1px solid #cacaca;
	margin-bottom: 1rem;
}

.wide-article-link .article-title a {
	color: #0a0a0a;
}

.wide-article-link .article-title a:hover,
.wide-article-link .article-title a:focus {
	color: #1779ba;
}

.wide-article-link .article-elipsis .read-more {
	font-weight: bold;
}

.wide-article-link .article-title,
.wide-article-link .article-author,
.wide-article-link .article-elipsis {
	margin-bottom: 0.25rem;
}

.wide-article-link .article-social {
	margin-top: 0.75rem;
}

.wide-article-link .article-social .social {
	margin-right: 0.25rem;
}

.wide-article-link .article-social .social.comments {
	background-color: #8a8a8a;
	color: #fefefe;
}

.wide-article-link .article-social .social.comments:hover,
.wide-article-link .article-social .social.comments:focus {
	background-color: #6e6e6e;
	color: #fefefe;
}

.wide-article-link .article-social .social.facebook {
	background-color: #3b5998;
	color: #fefefe;
}

.wide-article-link .article-social .social.facebook:hover,
.wide-article-link .article-social .social.facebook:focus {
	background-color: #2f477a;
	color: #fefefe;
}

.wide-article-link .article-social .social.twitter {
	background-color: #55acee;
	color: #fefefe;
}

.wide-article-link .article-social .social.twitter:hover,
.wide-article-link .article-social .social.twitter:focus {
	background-color: #1a8fe8;
	color: #fefefe;
}

.wide-article-link .article-social .social.linkedin {
	background-color: #007bb5;
	color: #fefefe;
}

.wide-article-link .article-social .social.linkedin:hover,
.wide-article-link .article-social .social.linkedin:focus {
	background-color: #006291;
	color: #fefefe;
}

.wide-article-link .article-social .social.google-plus {
	background-color: #dd4b39;
	color: #fefefe;
}

.wide-article-link .article-social .social.google-plus:hover,
.wide-article-link .article-social .social.google-plus:focus {
	background-color: #be3221;
	color: #fefefe;
}

.wide-article-link .article-social .social > .fa {
	color: #fefefe;
}

.wide-article-link .article-social .social > .fa.fa-comments-o {
	margin-right: 0.25rem;
}

/*      F3    
>>>>>>>>>>>>>>>>>>

     F O R M S

<<<<<<<<<<<<<<<<<<
*/

.search-row-height {
	height: 70px;
	margin-top: 15px;
}

form input#right-label {
	min-width: 600px;
	max-width: 90%;
	margin-top: 8px;
	background-color: transparent; /* #00a651 */
	border: none;
}

/* https://css-tricks.com/styling-texty-inputs-only/ */
input#right-label:not([type="submit"]):not([type="file"]) {
	color: #000;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1rem;
	padding-top: 9px;
}

/* Search "placeholder" */
#right-label::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #000; /* #025c2e */
	opacity: 1; /* Firefox */
}

#right-label:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #909090;
}

#right-label::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #909090;
}

input::text {
	color: #909090;
}

/* Go Button */
.button {
	background-color: #c6c4c4;
}

input.button {
	margin-top: 28px;
	height: 40px;
}

input.button:hover {
	background-color: #000;
}

/* Logo & Search Drop Shadow */
form,
input-group {
	text-shadow: 1.5px 1.5px 0.5px hsla(0, 2%, 77%, 3);
	height: 0px;
}

/* >>>>>>>>>>

Slideshow

>>>>>>>>>> */

.orbit,
.orbit-container {
	margin-top: 0px;
	height: 700px;
	z-index: -1;
}

li.orbit-slide {
	height: 600px;
}

.orbit-image {
	height: 600px;
}

/* >>>>>>>>>>>

Media Queries

>>>>>>>>>>> */

/* Super Small Only */
/* For the social footer, stack the
    <li> items on top of each other. 
    Mobile breakpoint is 440px. */

@media screen and (max-width: 440px) {
	.social-footer {
		width: 100%;
		height: 300px;
		display: flex;
		margin: 0px;
	}

	.social-footer-icons ul li {
		display: block;
		height: 50px;
		min-width: 90%; /* 300px */
		max-width: 50%;
		padding-bottom: 25px;
		margin: 0px;
	}

	.social-footer-icons ul li a {
		width: 40px;
		margin: 0px auto 0px auto;
	}

	ul.menu li a i.fa-instagram {
		margin-left: 80%;
		margin-right: 30%;
		padding: 0px;
		/* border: 1px #000 solid; */
		/* font-kerning: 30px; */
	}

	h2.text-center {
		font-size: 32px;
	}

	.text-indent {
		font-size: 14px;
		min-width: 200px;
		max-width: 65%;
		margin: 0px auto 0px auto;
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {
	ul.menu-adjust,
	li.link-expand,
	li.menu-text {
		display: inline-block;
		margin: 0px;
		width: 100%;
		height: 40px;
		/*  background-color: #594b42; */
		/*  border-top: 1px solid #594b42; */
		z-index: 20;
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	ul.top-bar-links li.top-bar-main-link a.main-link {
		text-align: center;
		font-size: 11.5px;
		font-weight: 900;
		min-width: 90px;
		max-width: 90%;
		margin-top: 3px;
	}
}

/* Large and up */
@media screen and (min-width: 64em) {
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}
